* {
  box-sizing: border-box;
}

.rectangle9 {
  border: 1px solid #fef979;
  border-radius: 10px;
  box-shadow: 4px 8px 10px 0px #0000001a;
  width: 341px;
  height: 370px;
  background-image: linear-gradient(180.48deg, #fef979 83.66%, #f4ea00 99.62%);
}
