* {
  box-sizing: border-box;
}

.pM25 {
  width: 42px;
  height: 20px;
  line-height: 20px;
  letter-spacing: 0;
  color: #3d3d3d;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
}
