* {
  box-sizing: border-box;
}

.ellipse1 {
  display: flex;
  align-items: center;
  border: 1px solid #8b8f92;
  border-radius: 50%;
  background: #f1f2f4;
  padding: 6px;
  width: 43px;
  height: 43px;

  .materialSymbolsLight {
    width: 29px;
    height: 29px;
    overflow: hidden;
  }
}
